body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("file:///C:/Users/jacob_000/Desktop/CodingBootCamp/projects/Star_Wars_RPG/assets/images/background.jpg");
  }
  .section-title.container.col-lg-4 {
    background-color: black;
    color: white;
    margin-top: 10px;

  }
  #fight-section {
    color: #535353;
  }
  .characterWrapper {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
  #gameMessage {
    text-align: center;
    font-size: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  #choose-enemy-button {
    visibility: hidden;
  }
  #restart-button {
    visibility: hidden;
  }
  #turn-counter {
    font-size: 150%;
    color: black;
  }
  .character {
    width: 153px;
    margin: 0px 40px 0px 40px;
    cursor: pointer;
    display: inline-block;
  }
  .character img {
    border: 0 none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
  }
  .character-name {
    text-align: center;
    text-transform: capitalize;
    line-height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    background-color: black;
  }
  .character-health {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFFFFF;
    background-color: black;
  }
  .attack {
    text-align: center;
  }
  .action {
    margin: 15px 0px;
  }
  #attack-button{
    visibility: hidden;
  }
  .btn {
    background: #000;
    color: #DBD2C6;	
  }
  .enemy {
    width: 153px;
    margin: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    background-color: red;
    
  }
  #attacker {
    padding: 5px;
  }
  .target-enemy {
    background-color: black;
    color: white;
  }
  
  #available-to-attack-section {
    float: right;
  }
  #available-to-attack-section img {
    height: 100px;
  }
  
  #defender-name {
    text-align: center;
  }
  #defender-image {
    padding: 0px 16px;
    margin: 3px 0px;
  }
  #defender-health {
    text-align: center;
  }
  
  